%h2 投稿完了

%nav.BottomNav_BottomNav__2Vey4
  %ul.BottomNav_NavItems___s-90
    .BottomNav_NavItem__tgPfn
      =link_to "/" do
        = icon('fas', 'home', class: "icon")
        %p.BottomNav_title_active__1SVTZ ホーム
    .BottomNav_NavItem__tgPfn
      =link_to "#" do
        = icon('fab', 'facebook-square', class: "icon")
        %p.BottomNav_title_active__1SVTZ お気に入り
    .BottomNav_NavItem__tgPfn
      =link_to "#" do
        = icon('fab', 'facebook-square', class: "icon")
        %p.BottomNav_title_active__1SVTZ 設定